.panelBgColor{
    background-color: #DAE4EA
}
.ArFontStyle{
    font-family: Cairo;
}
input:focus {
    background-color: #E9E9E9;
  }
 
//  ::ng-deep .form-switch .form-check-input{
//     background-color: #5f6d7a!important;
// }
 input[type=checkbox]{
    background-color: #5f6d7a!important;
}
.form-switch .form-check-input:checked{
    background-color: #348be1!important;
}