input:focus {
    background-color: #E9E9E9;
  }
  .ArFontStyle{
    font-family: Cairo;
}

.setup-bg-header{
  background-color: var(--sweet-brown);
}

.setup-search-header{
  background-color: var(--english-vermillion);
}

.theader{
  color: #fff !important;
}