<ngb-accordion #ngbOfferDetails="ngbAccordion" activeIds="ngb-panel-1" opened="true">
    <ngb-panel id="ngb-panel-1">
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA">{{lang=='en' ? formBodyLabels[0].lblemployeePasswordReset.title : formBodyLabels[1].lblemployeePasswordReset.title}}
            </h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <form [formGroup]="resetForm">
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div>
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].lblPassword.title : formBodyLabels[1].lblPassword.title}}</label>
                        </div>
                        <input type="password" class="form-control" formControlName="password"
                            style="background-color: #e9e9e9;" />
                        <div>
                            <span class="text-danger"
                                *ngIf="isFormSubmitted && resetFormData.password.errors?.required">
                                Password is required
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 fv-row">
                        <div>
                            <label id="ename" class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].employeeNameEnglish.title : formBodyLabels[1].employeeNameEnglish.title}}</label>
                        </div>
                        <input type="text" class="form-control" readonly formControlName="eName"
                            style="background-color: #e9e9e9;" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div>
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].lblConfirmPassword.title : formBodyLabels[1].lblConfirmPassword.title}}</label>
                        </div>
                        <input type="password" class="form-control" formControlName="cPassword"
                            style="background-color: #e9e9e9;" />
                        <div>
                            <span class="text-danger"
                                *ngIf="isFormSubmitted && resetFormData.cPassword.value != resetFormData.password.value">
                                Confirm password should same as password
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6 fv-row">
                        <div>
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].employeeNameArabic.title : formBodyLabels[1].employeeNameArabic.title}}</label>
                        </div>
                        <input type="text" class="form-control" readonly formControlName="aName"
                            style="background-color: #e9e9e9;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div>
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].lblMobileNo.title : formBodyLabels[1].lblMobileNo.title}}</label>
                        </div>
                        <input type="text" class="form-control" formControlName="mobile"
                            style="background-color: #e9e9e9;" />
                        <div>
                            <span class="text-danger" *ngIf="isFormSubmitted && resetFormData.mobile.errors?.required">
                                Mobile is required
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 fv-row">
                        <div>
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].lblEmailId.title : formBodyLabels[1].lblEmailId.title}}</label>
                        </div>
                        <input type="text" class="form-control" formControlName="email"
                            style="background-color: #e9e9e9;" />
                        <div>
                            <span class="text-danger" *ngIf="isFormSubmitted && resetFormData.email.errors?.required">
                                Email is required
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div>
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{lang=='en' ? formBodyLabels[0].lblEmployeeLoginId.title : formBodyLabels[1].lblEmployeeLoginId.title}}</label>
                        </div>
                        <input type="text" class="form-control" formControlName="eLoginId"
                            style="background-color: #e9e9e9;" />
                        <div>
                            <span class="text-danger"
                                *ngIf="isFormSubmitted && resetFormData.eLoginId.errors?.required">
                                Employee login id is required
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="text-right">
                        <button mat-raised-button class="ArFontStyle" color="primary" (click)="changePassword()">{{lang=='en' ? formBodyLabels[0].btnchangePassword.title : formBodyLabels[1].btnchangePassword.title}}</button>&nbsp;
                        <button mat-raised-button class="ArFontStyle" color="accent" routerLink="/employee/view-employee">{{lang=='en' ? formBodyLabels[0].btnCancel.title : formBodyLabels[1].btnCancel.title}}</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-panel>
</ngb-accordion>