<ngb-accordion #ngbOfferDetails="ngbAccordion" activeIds="ngb-panel-1" opened="true">
    <ngb-panel id="ngb-panel-1">
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA">{{ lang == 'en' ?
                formBodyLabels[0].CashierDraftPreparationScreen.title:
                formBodyLabels[1].CashierDraftPreparationScreen.title}}
            </h3>
        </ng-template>
        <ng-template ngbPanelContent><!---->
            <form [formGroup]="cashierDraftForm">
                <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mb-3">
                    <div class="flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                        <div class="row">
                            <div class="col-lg-3 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                    {{ lang == 'en' ? formBodyLabels[0].EmployeeName.title:
                                    formBodyLabels[1].EmployeeName.title}}</label>
                                <input type="text" class="form-control" formControlName="englishName" readonly
                                    style="background-color: #e9e9e9;" />
                            </div>
                            <div class="col-lg-3 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                    {{ lang == 'en' ? formBodyLabels[0].EmployeeID.title:
                                    formBodyLabels[1].EmployeeID.title}} </label>
                                <input type="text" class="form-control" formControlName="employeeId" readonly
                                    style="background-color: #e9e9e9;" />
                            </div>
                            <div class="col-lg-3 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA"> {{ lang
                                    == 'en' ? formBodyLabels[0].CId.title: formBodyLabels[1].CId.title}}</label>
                                <input type="text" class="form-control" formControlName="empCidNum" readonly
                                    style="background-color: #e9e9e9;" />
                            </div>
                            <div class="col-lg-3 fv-row">
                                <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                    {{ lang == 'en' ? formBodyLabels[0].PFId.title:
                                    formBodyLabels[1].PFId.title}}</label>
                                <input type="text" class="form-control" formControlName="pfid" readonly
                                    style="background-color: #e9e9e9;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">

                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].TotalAmount.title:
                                formBodyLabels[1].TotalAmount.title}}</label>
                        </div>
                        <input type="number" class="form-control" formControlName="totalAmount" readonly
                            style="background-color: #e9e9e9;" />
                    </div>
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">

                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].AccountID.title:
                                formBodyLabels[1].AccountID.title}}</label>
                        </div>
                        <input type="number" class="form-control" formControlName="accountantId" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].DraftNumber.title:
                                formBodyLabels[1].DraftNumber.title}}
                            </label>
                        </div>
                        <input type="number" class="form-control" formControlName="draftNumber1" />
                    </div>
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].BenefeciaryName.title:
                                formBodyLabels[1].BenefeciaryName.title}}</label>
                        </div>
                        <input type="text" class="form-control" formControlName="benefeciaryName" />
                        <span class="text-danger"
                            *ngIf="isFormSubmitted && cashierDraftFrm.benefeciaryName.errors?.required">
                            Benefeciary name by is required
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].BankDetails.title:
                                formBodyLabels[1].BankDetails.title}}
                            </label>
                        </div>
                        <ng-select [items]="selectBankAccount$ | async" bindLabel="accountName"
                            formControlName="bankAccount1" bindValue="accountNumber" lang="AR-SA">
                        </ng-select>
                        <span class="text-danger"
                            *ngIf="isFormSubmitted && cashierDraftFrm.bankAccount1.errors?.required">
                            Bank is required
                        </span>
                    </div>
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].ChequeNumber.title:
                                formBodyLabels[1].ChequeNumber.title}}</label>
                        </div>
                        <input type="number" class="form-control" formControlName="chequeNumber" />
                        <span class="text-danger"
                            *ngIf="isFormSubmitted && cashierDraftFrm.chequeNumber.errors?.required">
                            Cheque number is required
                        </span>
                    </div>
                </div>
                <div class="row">                    
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].ReceivedDate.title:
                                formBodyLabels[1].ReceivedDate.title}}
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="receivedDate1"
                                name="receivedDate1" lang="AR-SA" disabled />
                        </div>
                    </div>   
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">

                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].ChequeDate.title:
                                formBodyLabels[1].ChequeDate.title}}</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="chequeDate"
                                lang="AR-SA" />
                        </div>
                        <span class="text-danger"
                            *ngIf="isFormSubmitted && cashierDraftFrm.bankAccount1.errors?.required">
                            Service Sub Type is required
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].DraftDate.title: formBodyLabels[1].DraftDate.title}}
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="draftDate1"
                                lang="AR-SA" />
                        </div>
                        <span class="text-danger"
                            *ngIf="isFormSubmitted && cashierDraftFrm.bankAccount1.errors?.required">
                            Service Sub Type is required
                        </span>
                    </div>                 
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].ChequeAmount.title:
                                formBodyLabels[1].ChequeAmount.title}}
                            </label>
                        </div>
                        <input type="number" class="form-control" formControlName="chequeAmount" readonly />
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].ReceivedDate.title:
                                formBodyLabels[1].ReceivedDate.title}}
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="receivedDate1"
                                name="receivedDate1" lang="AR-SA" disabled />
                        </div>
                    </div>
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].CollectedBy.title:
                                formBodyLabels[1].CollectedBy.title}}
                            </label>
                        </div>
                        <input type="text" class="form-control" formControlName="collectedBy" />                        
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].PreparedDeliveredby.title:
                                formBodyLabels[1].PreparedDeliveredby.title}}
                            </label>
                        </div>
                        <input type="text" class="form-control" formControlName="deliveredBy1" readonly
                            style="background-color: #e9e9e9;" />
                    </div>
                    <!-- <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].RelationShip.title:
                                formBodyLabels[1].RelationShip.title}}
                            </label>
                        </div>
                        <input type="text" class="form-control" formControlName="relationship" />                        
                    </div> -->
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].PreparedDeliveredDate.title:
                                formBodyLabels[1].PreparedDeliveredDate.title}}
                            </label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" formControlName="deliveryDate1"
                                lang="AR-SA" readonly style="background-color: #e9e9e9;" />
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    
                    <div class="col-lg-6 fv-row">
                        <div class="d-flex justify-content-between">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle label-color" lang="AR-SA">
                                {{ lang == 'en' ? formBodyLabels[0].CollectedPersonCID.title:
                                formBodyLabels[1].CollectedPersonCID.title}}
                            </label>
                        </div>
                        <input type="text" class="form-control" formControlName="collectedPersonCID" />                        
                    </div>
                </div> -->
                <div class="row mt-3">
                    <div class="text-right">
                        <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="idDisabled">{{ lang == 'en' ?
                            formBodyLabels[0].Save.title: formBodyLabels[1].Save.title}}</button>&nbsp;
                        <button mat-raised-button color="accent" routerLink="/service-setup/cashier-approval">{{ lang ==
                            'en' ? formBodyLabels[0].Back.title: formBodyLabels[1].Back.title}}</button>&nbsp;
                        <button mat-raised-button color="primary" [disabled]="!idDisabled"
                            (click)="onPrintClick()">{{ lang ==
                                'en' ? formBodyLabels[0].btnPrint.title: formBodyLabels[1].btnPrint.title}}</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </ngb-panel>
</ngb-accordion>

<div style="display: none; print-color-adjust: exact; -webkit-print-color-adjust: exact;" #pdfConvert id="print-index-invoice">
    <div style="font-family: sans-serif; print-color-adjust: exact; -webkit-print-color-adjust: exact;">
        <h2 style="text-align: center;">{{ lang == 'en' ?
            formBodyLabels[0].CashierDraftPreparationScreen.title:
            formBodyLabels[1].CashierDraftPreparationScreen.title}}</h2>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].EmployeeName.title:
                    formBodyLabels[1].EmployeeName.title}}</span> :
                <span><b>{{cashierDraftForm.controls['englishName'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].EmployeeID.title:
                    formBodyLabels[1].EmployeeID.title}}</span> :
                <span><b>{{cashierDraftForm.controls['employeeId'].value}}</b></span>
            </div>
        </div>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].CId.title: formBodyLabels[1].CId.title}}</span> :
                <span><b>{{cashierDraftForm.controls['empCidNum'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].PFId.title:
                    formBodyLabels[1].PFId.title}}</span> :
                <span><b>{{cashierDraftForm.controls['pfid'].value}}</b></span>
            </div>
        </div>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].TotalAmount.title:
                    formBodyLabels[1].TotalAmount.title}}
                </span> : <span><b>{{cashierDraftForm.controls['totalAmount'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].AccountID.title:
                    formBodyLabels[1].AccountID.title}}</span> :
                <span><b>{{cashierDraftForm.controls['accountantId'].value}}</b></span>
            </div>
        </div>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].BankDetails.title:
                    formBodyLabels[1].BankDetails.title}}</span> :
                <span><b>{{cashierDraftForm.controls['bankAccount1'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].BenefeciaryName.title:
                    formBodyLabels[1].BenefeciaryName.title}}</span> :
                <span><b>{{cashierDraftForm.controls['benefeciaryName'].value}}</b></span>
            </div>
        </div>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].DraftNumber.title:
                    formBodyLabels[1].DraftNumber.title}}</span> :
                <span><b>{{cashierDraftForm.controls['draftNumber1'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].ChequeNumber.title:
                    formBodyLabels[1].ChequeNumber.title}}</span> :
                <span><b>{{cashierDraftForm.controls['chequeNumber'].value}}</b></span>
            </div>
        </div>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].DraftDate.title: formBodyLabels[1].DraftDate.title}}
                </span> : <span><b>{{cashierDraftForm.controls['draftDate1'].value | date:"dd/MM/yyyy"}}</b></span>
            </div>
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].ChequeDate.title:
                    formBodyLabels[1].ChequeDate.title}}</span> :
                <span><b>{{cashierDraftForm.controls['chequeDate'].value | date:"dd/MM/yyyy"}}</b></span>
            </div>
        </div>
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">            
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].ChequeAmount.title:
                    formBodyLabels[1].ChequeAmount.title}}</span> :
                <span><b>{{cashierDraftForm.controls['chequeAmount'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].ReceivedDate.title:
                    formBodyLabels[1].ReceivedDate.title}}</span> :
                <span><b>{{cashierDraftForm.controls['receivedDate1'].value | date:"dd/MM/yyyy"}}</b></span>
            </div>
        </div>
        
        <div style="display: flex; justify-items: stretch; padding: 10px 0px;">
            <div style="width: 50%;">
                <span> {{ lang == 'en' ? formBodyLabels[0].PreparedDeliveredby.title:
                    formBodyLabels[1].PreparedDeliveredby.title}}</span> :
                <span><b>{{cashierDraftForm.controls['deliveredBy1'].value}}</b></span>
            </div>
            <div style="width: 50%;">
                <span>{{ lang == 'en' ? formBodyLabels[0].PreparedDeliveredDate.title:
                    formBodyLabels[1].PreparedDeliveredDate.title}}</span> :
                <span><b>{{cashierDraftForm.controls['deliveryDate1'].value | date:"dd/MM/yyyy"}}</b></span>
            </div>
        </div>       
    </div>
</div>