.panel4BgColor{
    background-color: #83AF9B 
}
.ArFontStyle{
    font-family: Cairo;
}
input:focus {
    background-color: #E9E9E9;
  }

.setupheader, .header_setupadservice{
    color: #fff !important;
}