.m_approval_thead{
    // background-color: var(--texasRose);
    background-color: #33ffff;
    
    .mat-header-cell{
        color: black !important;
    }
}

.panel3bgColor{
    background-color: #00ffff;
}