.panelBgColor{
    background-color: var(--webOrange)
}
.ArFontStyle{
    font-family: Cairo;;
    color: #000 !important;

}

.headerWebOrange {
    background-color: var(--webOrange);
}

.t_header_orangeTexasRose{
    background-color: var(--texasRose);
}