<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panel1bgColor">
        <!--begin::Title-->
        <div class="card-title" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="m-0 text-white ArFontStyle">{{lang=='en' ? label.headerName : "إضافة مستخدم النظام"}}</h3>
        </div>
        <h3 class="card-title align-items-start flex-column">
            <div class="btn-group" role="group" aria-label="Basic example" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <button type="button" class="btn btn-primary ArFontStyle english-vermillion">{{lang=='en' ? bodyLabel[0].title : bodyLabel[0].arabicTitle}}</button>
                <button type="button" class="btn btn-primary ArFontStyle candy-pink">{{lang=='en' ? bodyLabel[1].title : bodyLabel[1].arabicTitle}}</button>
                <button type="button" class="btn btn-primary ArFontStyle ruddy-pink" routerLink="/users/user-details">{{lang=='en' ? bodyLabel[2].title : bodyLabel[2].arabicTitle}}</button>
            </div>

        </h3>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Personal Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <form autocomplete="off">
                    <div class="row mb-4">
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{lang=='en' ? bodyLabel[3].title : bodyLabel[3].arabicTitle}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{lang=='en' ? bodyLabel[4].title : bodyLabel[4].arabicTitle}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle">{{lang=='en' ? bodyLabel[5].title : bodyLabel[5].arabicTitle}}</label>
                            <select class="form-control bg-light" aria-label="Select example">
                                <option>-Select-</option>
                                <option value="1">ConsumerLoanType</option>
                                <option value="2">Department</option>
                                <option value="3">DocType</option>
                                <option value="4">EmplContract</option>
                                <option value="5">FilingPlace</option>
                                <option value="6">FilingTag</option>
                                <option value="7">Occupation</option>
                            </select>
                        </div>

                    </div>
                    <div class="row mb-4">

                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{lang=='en' ? bodyLabel[6].title : bodyLabel[6].arabicTitle}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{lang=='en' ? bodyLabel[7].title : bodyLabel[7].arabicTitle}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle">{{lang=='en' ? bodyLabel[8].title : bodyLabel[8].arabicTitle}}</label>
                            <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>
                    </div>

                </form>
            </div>
            <!--end::Row-->
        </div>
        <!-- <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"dateOfBirth"' [maxDate]="maxDate"></app-date-input> -->

    </div>

</div>
<div class="card mb-5 mb-xl-8" *ngFor="let bodyLabel of formBodyLabels; let i = index">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5 panel1bgColorRights">
        <div class="card-title">
            <h3 class="m-0 text-white ArFontStyle">{{lang=='en' ? bodyLabel[9].title : bodyLabel[9].arabicTitle}}</h3>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
        <div class="row mb-4">
            <div class="col-lg-4 fv-row">          
                <div class="d-flex fw-bold h-100 ">                    
                    <div class="form-check form-check-custom form-check-solid me-9 ">
                        <input class="form-check-input" type="checkbox" value="" id="email">
                        <label class="form-check-label ms-3 ArFontStyle" for="email">{{lang=='en' ? bodyLabel[10].title : bodyLabel[10].arabicTitle}}</label>
                    </div>            
                </div>
            </div>
            <div class="col-lg-4 fv-row">     
                <div class="form-check form-check-custom form-check-solid ">
                    <input class="form-check-input" type="checkbox" value="" id="phone">
                    <label class="form-check-label ms-3 ArFontStyle" for="phone">{{lang=='en' ? bodyLabel[11].title : bodyLabel[11].arabicTitle}}</label>
                </div>  
            </div>
        </div>       
        <div class="row mb-4">
            <div class="col-lg-4 fv-row">          
                <div class="d-flex fw-bold h-100">                    
                    <div class="form-check form-check-custom form-check-solid me-9 ">
                        <input class="form-check-input" type="checkbox" value="" id="email">
                        <label class="form-check-label ms-3 ArFontStyle" for="email">{{lang=='en' ? bodyLabel[12].title : bodyLabel[12].arabicTitle}}</label>
                    </div>            
                </div>
            </div>
            <div class="col-lg-4 fv-row">     
                <div class="form-check form-check-custom form-check-solid ">
                    <input class="form-check-input" type="checkbox" value="" id="phone">
                    <label class="form-check-label ms-3 ArFontStyle" for="phone">{{lang=='en' ? bodyLabel[13].title : bodyLabel[13].arabicTitle}}</label>
                </div>  
            </div>
        </div> 
        <div class="row mb-4">
            <div class="col-lg-4 fv-row">          
                <div class="d-flex fw-bold h-100 ">                    
                    <div class="form-check form-check-custom form-check-solid me-9 ">
                        <input class="form-check-input" type="checkbox" value="" id="email">
                        <label class="form-check-label ms-3 ArFontStyle" for="email ">{{lang=='en' ? bodyLabel[14].title : bodyLabel[14].arabicTitle}}</label>
                    </div>            
                </div>
            </div>        </div> 
        <!--end::Col-->

    </div>
    <!--begin::Body-->

</div>