<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #AddEmployeeCertificate name="AddEmployeeCertificate" value="AddEmployeeCertificate">

<div class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6 mb-3">
    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
        <div class="row">
            <div class="btn-group " role="group" aria-label="Basic example" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <button type="button" class="btn btn-primary float-left ArFontStyle dark-sea-green" lang="AR-SA">{{lang=='en' ? bodyLabel[0].title : bodyLabel[0].arabicTitle}}</button>
                <button type="button" class="btn btn-primary float-left ArFontStyle caledon" lang="AR-SA">{{lang=='en' ? bodyLabel[1].title : bodyLabel[1].arabicTitle}}</button>
                <button type="button" class="btn btn-primary float-left ArFontStyle tea-green" lang="AR-SA"  routerLink="/references/employee-certificate-details">{{lang=='en' ? bodyLabel[2].title : bodyLabel[2].arabicTitle}}</button>
            </div>
        </div>
    </div>
</div>

<app-search-tab [pageName]="'AddEmployeeCertificate'"></app-search-tab>
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panelBgColor">
        <!--begin::Title-->
        <div class="card-title" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="m-0 ArFontStyle" lang="AR-SA" id="AddEmployeeCertificate">{{lang=='en' ? label.headerName : "إضافة شهادة موظف"}}</h3>         
        </div>        
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Personal Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                <form autocomplete="off">                   
                   
                    <div class="row mb 4">  
                        <div class="col-lg-4 fv-row">
                            <label class="col-lg-4 col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{lang=='en' ? bodyLabel[3].title : bodyLabel[3].arabicTitle}}</label>
                            <input type="date" class="form-control form-control-lg  mb-3 mb-lg-0" />
                        </div>                      
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{lang=='en' ? bodyLabel[4].title : bodyLabel[4].arabicTitle}}</label>
                            <select class="form-control bg-light" aria-label="Select example">
                                <option>-Select-</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                        <div class="col-lg-4 fv-row">
                            <label class="col-form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{lang=='en' ? bodyLabel[5].title : bodyLabel[5].arabicTitle}}</label>
                            <select class="form-control bg-light" aria-label="Select example">
                                <option>-Select-</option>
                                <option value="1">Service 1</option>
                                <option value="2">Service 2</option>
                                <option value="3">Service 3</option>
                            </select>
                        </div>
                    </div>
                    
                </form>
            </div>
            <!--end::Row-->
        </div>

    </div>
    <!--end::Tab content-->
</div>