.menu-section.text-muted.text-uppercase.fs-8 {
    color: #519ff7 !important;
}
.ArFontStyle{
    font-family: Cairo;
}

.arrowHeading{
  color: yellow!important;
}
.menu-lvl-2 .menu-title {
  color: #3fd93f !important;
}
