<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #FinancialDetails name="FinancialDetails" value="FinancialDetails">
<ngb-accordion #acc="ngbAccordion" class="mb-2 financedetails" activeIds="ngb-panel-0" [ngClass]="{'panelBgColor_addService': accordialDetails === 'ServiceFinanceAccordian', 'panelBgColor_addEmplyee' : accordialDetails === 'AddEmployee', 'panelBgColorAddTenant': accordialDetails === 'setupAddUniversityTenantfinance',
'bgColorFromServiceSetup': accordialDetails === 'addServiceSetup'}">

    <ngb-panel>
        <ng-template ngbPanelTitle>
            <h3 class="m-0 ArFontStyle" lang="AR-SA" id="FinancialDetails" [ngClass]="{'header_color_addEmplyee' : accordialDetails === 'AddEmployee',
            'header_color_AddTenant': accordialDetails === 'setupAddUniversityTenantfinance',
            'header_color_erviceSetup': accordialDetails === 'addServiceSetup'}">{{ lang == 'en' ?
                formBodyLabels.en.hdrFinancialDetails.title : formBodyLabels.ar.hdrFinancialDetails.title}} </h3>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row gx-9 gy-6">
                <form>
                    <form [formGroup]="finanacialFormGroup">
                        <div class="row">
                            <div class="col">
                                <label class="form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">
                                    {{lang == 'en' ?
                                    formBodyLabels.en.lblSubOpAmount.title :
                                    formBodyLabels.ar.lblSubOpAmount.title}}</label>
                                <input type="number" formControlName="subOPAmount" class="form-control  mb-3 mb-lg-0" />
                            </div>
                            <div class="col">
                                <label class="form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{lang == 'en' ?
                                    formBodyLabels.en.lblSubDueOpAmt.title :
                                    formBodyLabels.ar.lblSubDueOpAmt.title}}</label>
                                <input type="number" formControlName="subOPNotPaidAmount"
                                    class="form-control mb-3 mb-lg-0" />
                            </div>
                            <div class="col">
                                <label class="form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{lang == 'en' ?
                                    formBodyLabels.en.lblLoanOpAmount.title :
                                    formBodyLabels.ar.lblLoanOpAmount.title}}</label>
                                <input type="number" formControlName="loanOPAmount" class="form-control mb-3 mb-lg-0" />
                            </div>
                            <div class="col">
                                <label class="form-label fw-bold fs-6 ArFontStyle" lang="AR-SA">{{lang == 'en' ?
                                    formBodyLabels.en.lblLoanDueOpAmt.title :
                                    formBodyLabels.ar.lblLoanDueOpAmt.title}}</label>
                                <input type="number" formControlName="loanOPNotPaidAmount"
                                    class="form-control mb-3 mb-lg-0" />
                            </div>
                        </div>
                    </form>
                    <table class="table table-row-bordered">
                        <thead>
                            <tr class="fw-bold fs-6 ArFontStyle">
                                <th class="ArFontStyle" lang="AR-SA" style="width: 30%">{{ lang == 'en' ?
                                    formBodyLabels.en.lblLoanAccount.title : formBodyLabels.ar.lblLoanAccount.title}}
                                </th>
                                <th class="ArFontStyle" lang="AR-SA" style="width: 10%"></th>
                                <th class="ArFontStyle" lang="AR-SA">{{ lang == 'en' ?
                                    formBodyLabels.en.lblAccountEng.title : formBodyLabels.ar.lblAccountEng.title}}</th>
                                <th class="ArFontStyle" lang="AR-SA">{{ lang == 'en' ?
                                    formBodyLabels.en.LblAccArabic.title : formBodyLabels.ar.LblAccArabic.title}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[0].controls['loanAct']" id="loanAct"
                                        name="loanAct" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyLoanAccount()">{{ lang == 'en' ?
                                        formBodyLabels.en.btnVerify.title :
                                        formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[0].controls['lblloanActNameInEnglish']"
                                        id="lblloanActNameInEnglish" name="lblloanActNameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[0].controls['lblloanActNameInArabic']"
                                        id="lblloanActNameInArabic" name="lblloanActNameInArabic" readonly />
                                </td>
                            </tr>

                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblHajjAccount.title :
                                    formBodyLabels.ar.lblHajjAccount.title}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[1].controls['hajjAct']" id="hajjAct"
                                        name="hajjAct" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyHajjAccount()">{{ lang == 'en' ?
                                        formBodyLabels.en.btnVerify.title : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[1].controls['lblHajjActNameInEnglish']"
                                        id="lblHajjActNameInEnglish" name="lblHajjActNameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[1].controls['lblHajjActNameInArabic']"
                                        id="lblHajjActNameInArabic" name="lblHajjActNameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblPerLoadAct.title :
                                    formBodyLabels.ar.lblPerLoadAct.title}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[2].controls['persLoanAct']"
                                        id="persLoanAct" name="persLoanAct" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyPerLoanAct()">{{ lang == 'en' ? formBodyLabels.en.btnVerify.title
                                        : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[2].controls['lblPersLoanActNameInEnglish']"
                                        id="lblPersLoanActNameInEnglish" name="lblPersLoanActNameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[2].controls['lblPersLoanNameInArabic']"
                                        id="lblPersLoanNameInArabic" name="lblPersLoanNameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblConsumerLoan.title :
                                    formBodyLabels.ar.lblConsumerLoan.title}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[3].controls['consumerLoanAct']"
                                        id="consumerLoanAct" name="consumerLoanAct" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyConsumerLoanAct()">{{ lang == 'en' ?
                                        formBodyLabels.en.btnVerify.title : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[3].controls['lblConsumerLoanActNameInEnglish']"
                                        id="lblConsumerLoanActNameInEnglish" name="lblConsumerLoanActNameInEnglish"
                                        readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[3].controls['lblConsumerLoanNameInArabic']"
                                        id="lblConsumerLoanNameInArabic" name="lblConsumerLoanNameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblOtherAct.title :
                                    formBodyLabels.ar.lblOtherAct.title}} #1
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[4].controls['otherAct1']" id="otherAct1"
                                        name="otherAct1" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyOtherAct1()">{{ lang == 'en' ? formBodyLabels.en.btnVerify.title
                                        : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[4].controls['lblOtherAct1NameInEnglish']"
                                        id="lblOtherAct1NameInEnglish" name="lblOtherAct1NameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[4].controls['lblOtherAct1NameInArabic']"
                                        id="lblOtherAct1NameInArabic" name="lblOtherAct1NameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblOtherAct.title :
                                    formBodyLabels.ar.lblOtherAct.title}} #2
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[5].controls['otherAct2']" id="otherAct2"
                                        name="otherAct2" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyOtherAct2()">{{ lang == 'en' ? formBodyLabels.en.btnVerify.title
                                        : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[5].controls['lblOtherAct2NameInEnglish']"
                                        id="lblOtherAct2NameInEnglish" name="lblOtherAct2NameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[5].controls['lblOtherAct2NameInArabic']"
                                        id="lblOtherAct2NameInArabic" name="lblOtherAct2NameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblOtherAct.title :
                                    formBodyLabels.ar.lblOtherAct.title}} #3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[6].controls['otherAct3']" id="otherAct3"
                                        name="otherAct3" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyOtherAct3()">{{ lang == 'en' ? formBodyLabels.en.btnVerify.title
                                        : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[6].controls['lblOtherAct3NameInEnglish']"
                                        id="lblOtherAct3NameInEnglish" name="lblOtherAct3NameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[6].controls['lblOtherAct3NameInArabic']"
                                        id="lblOtherAct3NameInArabic" name="lblOtherAct3NameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblOtherAct.title :
                                    formBodyLabels.ar.lblOtherAct.title}} #4
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[7].controls['otherAct4']" id="otherAct4"
                                        name="otherAct4" maxlength="10" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyOtherAct4()">{{ lang == 'en' ? formBodyLabels.en.btnVerify.title
                                        : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[7].controls['lblOtherAct4NameInEnglish']"
                                        id="lblOtherAct4NameInEnglish" name="lblOtherAct4NameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[7].controls['lblOtherAct4NameInArabic']"
                                        id="lblOtherAct4NameInArabic" name="lblOtherAct4NameInArabic" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-bold fs-6 ArFontStyle">
                                    {{ lang == 'en' ? formBodyLabels.en.lblOtherAct.title :
                                    formBodyLabels.ar.lblOtherAct.title}} #5
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" class="form-control"
                                        [formControl]="accountsArray.controls[8].controls['otherAct5']" id="otherAct5"
                                        name="otherAct5" maxlength="10" />

                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary mt-1"
                                        (click)="verifyOtherAct5()">{{ lang == 'en' ? formBodyLabels.en.btnVerify.title
                                        : formBodyLabels.ar.btnVerify.title}}</button>
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control"
                                        [formControl]="accountsArray.controls[8].controls['lblOtherAct5NameInEnglish']"
                                        id="lblOtherAct5NameInEnglish" name="lblOtherAct5NameInEnglish" readonly />
                                </td>
                                <td class="mt-2">
                                    <input type="text" class="form-control ArFontStyle" lang="AR-SA"
                                        [formControl]="accountsArray.controls[8].controls['lblOtherAct5NameInArabic']"
                                        id="lblOtherAct5NameInArabic" name="lblOtherAct5NameInArabic" readonly />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>