.panel3bgColor{
    background-color: #acc784;
}
.ArFontStyle{
    font-family: Cairo;
}
input:focus {
    background-color: #E9E9E9;
  }
  

.header_color_addEmplyee{
    color: #fff !important;
}

.header_color_AddTenant, .header_color_erviceSetup{
    color: #fff !important;
}

.financialRow{
    min-width: 250px;
}

.btn-sm{
    font-size: 1rem!important;
}