<div class="px-7 py-5">
  <div class="fs-5 text-dark fw-bolder">Select Year and Month</div>
</div>

<div class="separator border-gray-200"></div>

<div class="px-7 py-5">

  <div class="mb-10" style="display: flex; flex-direction: column;">
    <mat-form-field>
      <mat-label>Select Year</mat-label>
      <mat-select [(value)]="year">
        <mat-option [value]="year" *ngFor="let year of years">{{year}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Month</mat-label>
      <mat-select [(value)]="month">
        <ng-container *ngFor="let month of months; let i=index">
          <mat-option [value]="i" [disabled]="year > thisYear || year === thisYear && i > thisMonth">{{ month }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-end">
    <button
      type="reset"
      class="btn btn-sm btn-white btn-active-light-primary me-2"
      (click)="onClose()"
    >
      Close
    </button>

    <button
      type="submit"
      class="btn btn-sm btn-primary"
      data-kt-menu-dismiss="true"
      (click)="onSubmit()"
    >
      Apply
    </button>
  </div>
</div>
