
.panel1bgColor{
    background-color: var(--sweet-brown);
}
    tr:hover td {
        background: #d8ecfa !important;
        
    }
    .ArFontStyle{
        font-family: Cairo;
    }


.header_color{
    color: #fff !important;
}
 
.table_header_bg{
    background-color: var(--english-vermillion);
    .mat-header-cell{
        color: #fff !important;
    }
}