<!-- TO GET FORM ID AND SETTINGUP LANGAUGE. -->
<input type="hidden" #ImportArchieves name="ImportArchieves" value="ImportArchieves">
<div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header card-header-stretch pb-0 panelBackgroundColor">
        <!--begin::Title-->
        <div class="card-title" *ngFor="let label of formHeaderLabels; let i = index">
            <h3 class="m-0 ArFontStyle" lang="AR-SA" id="ImportArchieves">{{lang == "en" ? label.headerName : "استيراد Archieves"}}</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Card header-->
    <!--begin::Tab content-->
    <div id="kt_billing_payment_tab_content" class="card-body tab-content">
        <!--begin::Tab panel-->
        <div id="kt_billing_creditcard" class="tab-pane fade show active" role="tabpanel">
            <!--begin::Title-->
            <!-- <h3 class="mb-5">Personal Information</h3> -->
            <!--end::Title-->
            <!--begin::Row-->
            <div class="row gx-9 gy-6">
                <form autocomplete="off">                    
                    <div class="row mb-4">
                        <div class="col-lg-6 fv-row" *ngFor="let bodyLabel of formBodyLabels; let i = index">
                            <div class="mt-4">
                                <label for="formFile" class="form-label ArFontStyle" lang="AR-SA" >{{lang=='en' ?bodyLabel[0].title : bodyLabel[0].arabicTitle}}</label>
                                <input  class="form-control" 
                                        type="file" 
                                        id="formFile"
                                        accept=".xls, .xlsx"
                                        (change)="onFileChange($event)"
                                >
                                <span><small class="text-danger ArFontStyle" lang="AR-SA"></small></span>
                              </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end::Row-->
        </div>
    </div>
    <!--end::Tab content-->
    <div class="card-footer d-flex justify-content-end py-6 px-9 " 
        *ngFor="let bodyLabel of formBodyLabels; let i = index">
        <button
            type="button"
            class="btn btn-primary float-right ArFontStyle btn-bg"
            lang="AR-SA"
            (click)="importData()"
        >
            {{lang=='en' ?bodyLabel[2].title : bodyLabel[2].arabicTitle}}
        </button>
    </div>
</div>

<div *ngIf="archieveData?.data?.length > 0" class="card mb-5 mb-xl-10">
    <div class="table-container">
        <table mat-table class="w-100" [dataSource]="archieveData" matSort>
            <ng-container matColumnDef="Exception">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                    Exception
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1">
                    <ng-template [ngIf]="item.Exceptions?.length > 0">
                        <div *ngFor="let except of item.Exceptions; index as i" class="text-danger">
                          {{ i+1 }}.{{ except }}
                        </div>
                      </ng-template>
                      <ng-template [ngIf]="item.Exceptions.length == 0">
                        <div class="text-success">Accepted</div>
                        <div *ngFor="let warning of item.warnings; index as i" class="text-warning">
                          {{ i+1 }}.{{ warning }}
                        </div>
                      </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="Date">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                    mat-sort-header
                >
                    Date
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1">
                    {{item.Date}}
                </td>
            </ng-container>

            <ng-container matColumnDef="DocumentType">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                    DocumentType
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.DocumentTypeStr}}
                </td>
            </ng-container>

            <ng-container matColumnDef="From">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                    From
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.FromStr}}
                </td>
            </ng-container>

            <ng-container matColumnDef="To">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                    To
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.ToStr}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Reference">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                Reference
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.Reference}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Remarks">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                Remarks
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.Remarks}}
                </td>
            </ng-container>

            <ng-container matColumnDef="AuthoritySigned">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                AuthoritySigned
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.AuthoritySigned}}
                </td>
            </ng-container>

            <ng-container matColumnDef="FilledAT">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                FilledAT
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.FilledAT}}
                </td>
            </ng-container>

            <ng-container matColumnDef="SearchTag">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    class="text-white p-1 text-center"
                >
                SearchTag
                </th>
                <td mat-cell *matCellDef="let item" class="ArFontStyle p-1 text-center">
                    {{item.SearchTag}}
                </td>
            </ng-container>

            <tr
                mat-header-row
                *matHeaderRowDef="displayColumns; sticky: true"
                class="importTableHeader"
            ></tr>
            <tr
                mat-row
                *matRowDef="let item; columns: displayColumns"
            ></tr>
        </table>
    </div>
</div>