.panel3bgColor {
    background-color: #009900;
}

.ArFontStyle {
    font-family: Cairo;
}

.m_approval_thead {
    background-color: #00b300; //var(--texasRose)

    .mat-header-cell {
        color: black !important;
    }
}

.actionTdClass {
    min-width: 224px;
}

.idTdClass {
    min-width: 197px;
}