<ngb-accordion #acc="ngbAccordion" class="mb-2" activeIds="ngb-panel-0"
[ngClass]="{'e-serviceSetup':accordialElectronic === 'fromAddServiceSetup'}">
    <ngb-panel>
        <ng-template ngbPanelTitle>            
            <h3 class="m-0 ArFontStyle"
            [ngClass]="{'head-color-e-serviceSetup':accordialElectronic === 'fromAddServiceSetup'}"
            lang="AR-SA">Electronic Forms - النماذج الإلكترونية</h3>  
          </ng-template>
      <ng-template ngbPanelContent >    
        <form [formGroup]="electronicForm" id="electronicForm" autocomplete="off">
            <div class="row mb-6">
                <div class="col-lg-6 fv-row">
                    <label class="col-lg-8 col-form-label fw-bold fs-6 ArFontStyle"><span class="">Electronic Form 1- نموذج إلكتروني
                        </span></label>
                    <input type="file" class="form-control form-control-lg  mb-3 mb-lg-0"  (change)="onFile1Select($event)"
                   />
                </div>
                <div class="col-lg-6 fv-row">
                    <label class="col-lg-8 col-form-label fw-bold fs-6 ArFontStyle"><span class="">Electronic Form URL 1  - عنوان URL للنموذج الإلكتروني</span></label>
                    <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" formControlName="electronicForm1URL"
                        />
                </div>
            </div>   
            <div class="row mb-6">
                <div class="col-lg-6 fv-row">
                    <label class="col-lg-8 col-form-label fw-bold fs-6 ArFontStyle"><span class="">Electronic Form 2 - نموذج إلكتروني
                        </span></label>
                    <input type="file" class="form-control form-control-lg  mb-3 mb-lg-0" (change)="onFile2Select($event)"/>
                </div>
                <div class="col-lg-6 fv-row">
                    <label class="col-lg-8 col-form-label fw-bold fs-6 ArFontStyle"><span class="">Electronic Form URL 2  - عنوان URL للنموذج الإلكتروني</span></label>
                    <input type="text" class="form-control form-control-lg  mb-3 mb-lg-0" formControlName="electronicForm2URL"
                        />
                </div>
            </div>        
        </form>
       
      </ng-template>
    </ngb-panel>
</ngb-accordion>